$primary-bg: rgb(38, 48, 60); 
$secondary-bg:#252734; 
$primary-color:  #EC7063; 
$secondary-color: #252734; 
$primary-width: 1320px; 
$ligth-bg: white; 
$section-width: 1000px;
$primary-font: "Space Mono", "Roboto", "Arial", sans-serif;
$secondary-font: "Fira Code", "Roboto", "Arial", sans-serif; 
$special-font: "Montez", "Roboto", "Arial", sans-serif; 


// rgb(28, 28, 28) background: radial-gradient(#2C3E50, transparent);