$primary-bg: rgb(38, 48, 60); 
$secondary-bg:#252734; 
$primary-color:  #EC7063; 
$secondary-color: #252734; 
$primary-width: 1320px; 
// rgb(28, 28, 28) background: radial-gradient(#2C3E50, transparent);