@mixin titlebar {
    content: "";
    display: block;
    position: relative;
    top: 20px;
    width: 200px;
    height: 1px;
    background-color: #252734;
}

@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-full(){
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}